@font-face {
   font-family: 'FZBITMAPFENGJW';
   font-display: swap;
   src: url('file:///C:/Users/A/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-30_144718/fonts/FZBITMAPFENGJW/font.TTF');
}
