@font-face {
   font-family: 'FZBITMAPFENGJW';
   font-display: swap;
   src: url('FZBITMAPFENGJW/font.TTF');
}
@font-face {
   font-family: 'HYQiHei-40S';
   font-display: swap;
   src: url('HYQiHei-40S/font.TTF');
}
