@font-face {
   font-family: 'HYQiHei-40S';
   font-display: swap;
   src: url('file:///C:/Users/A/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-06_182247/fonts/HYQiHei-40S/font.TTF');
}
